<aside class="flex flex-col gap-2 bg-[#1e293b] min-h-screen w-56 p-4">
  <button 
    (click)="select('modulos')"
    [class.active]="selected === 'modulos'"
    class="bg-[#1e293b] text-white rounded-lg py-3 pl-6 text-left font-medium text-base mb-2 transition hover:bg-blue-100 hover:text-blue-700"
    [ngClass]="{'!bg-white !text-[#1e293b] shadow': selected === 'modulos'}"
  >Módulos</button>
  <button 
    (click)="select('etiquetas')"
    [class.active]="selected === 'etiquetas'"
    class="bg-[#1e293b] text-white rounded-lg py-3 pl-6 text-left font-medium text-base mb-2 transition hover:bg-blue-100 hover:text-blue-700"
    [ngClass]="{'!bg-white !text-[#1e293b] shadow': selected === 'etiquetas'}"
  >Etiquetas</button>
  <button 
    (click)="select('idiomas')"
    [class.active]="selected === 'idiomas'"
    class="bg-[#1e293b] text-white rounded-lg py-3 pl-6 text-left font-medium text-base mb-2 transition hover:bg-blue-100 hover:text-blue-700"
    [ngClass]="{'!bg-white !text-[#1e293b] shadow': selected === 'idiomas'}"
  >Idiomas</button>
</aside> 